<footer class="site-footer">

  <div class="page-wrapper">

    <div class="flex-grid">
      <div class="col">
        <h2 class="footer-heading">{{ site.title | escape }}</h2>
        {{ site.description | escape }}
      </div>

      <div class="col footer-col-3">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
          </li>
          {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% endif %}
          {% if site.github_username %}
            <li>{% include icon-github.html username=site.github_username %}</li>
          {% endif %}
          {% if site.twitter_username %}
            <li>{% include icon-twitter.html username=site.twitter_username %}</li>
          {% endif %}
        </ul>
      </div>
    </div>

  </div>

</footer>
